* {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

.row {
    margin-top: 25px;
    margin-bottom: 50px;
    padding-top: 40px;
}

.container {
    padding: 0px;
    max-width: 100%;
    background-image: linear-gradient(rgb(230 221 210 / 82%), rgb(255 255 255));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}


/*HEADER*/

.beg-des {
    padding: 0px;
    max-width: 100%;
    background-image: linear-gradient(rgba( 0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(image/outside3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    height: 550px;
}

.beg-des h2 {
    text-align: center;
    font-family: 'Courier New', Courier;
    font-size: 75px;
    padding-top: 30px;
    color: #1a2e40c2;
    font-weight: 600;
}

.beg-des p {
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
    padding-top: 40px;
    color: #27435d;
    ;
}

.col {
    flex-basis: 50%;
}

h1 {
    color: #414082;
    font-size: 40px;
    padding: 30px;
}

p {
    color: #27435d;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 600;
}

button {
    color: whitesmoke;
    font: size 20px;
    line-height: 15px;
    padding-left: 30px;
}

.card {
    width: 200PX;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-image: url(image/mainevent.png);
    background-position: center;
    background-size: contain;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(image/p4.jpg);
}

.card2 {
    background-image: url(image/all-events1.jpg);
}

.card3 {
    background-image: url(image/room1.jpg);
}

.card4 {
    background-image: url(image/drink1.jpg);
}

.card:hover {
    transform: translateY(-10px);
}

h5 {
    color: whitesmoke;
    text-shadow: 0 0 5px #999;
}

.card .btn {
    color: transparent;
    text-shadow: 0 0 5px #999;
    font-size: 20px;
    color: #010101;
    background: transparent;
    text-decoration: none;
}

.card p {
    text-shadow: 0 0 5px #000;
    font-size: 18px;
    color: whitesmoke;
    font-family: cursive;
}

.btn p {
    text-decoration: none;
    font-family: cursive;
    font-weight: 100;
    font-size: 15px;
}


/*carousel editing*/

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.w-100 {
    width: 100%!important;
    height: 400px;
}

.pp {
    height: 350px;
}


/*carousel editing*/

.bd-des p {
    text-align: center;
    font-family: 'Courier New', Courier;
    font-size: 25px;
    padding-top: 40px;
}

.pool h2 {
    font-size: 45px;
    font-family: 'Piedra', sans-serif;
    text-align: center;
    border-bottom: 2px solid gainsboro;
    color: #414082;
}

.pool p {
    text-align: center;
    font-family: 'Courier New', Courier;
    font-size: 25px;
    padding-top: 20px;
}

.P1 ul {
    text-decoration: none;
}

.P1 li {
    text-align: center;
    font-size: 20px;
    color: #414082;
}

.eventet {
    margin-top: 45px;
}

.eventet h2 {
    font-size: 45px;
    font-family: 'Piedra', sans-serif;
    text-align: center;
    border-bottom: 2px solid gainsboro;
    color: #414082;
}

.eventet p {
    text-align: center;
    font-family: 'Courier New', Courier;
    font-size: 25px;
    padding-top: 20px;
}

.eve-dec h2 {
    font-size: 45px;
    font-family: cursive, sans-serif;
    border-bottom: 2px solid rgb(22, 9, 9);
    color: rgba(29, 31, 53, 0.733);
}

.eve-dec p {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.856);
    margin-top: 30px;
}

.eve-img img {
    padding: 8px 40px;
    height: 375px;
    margin-top: 30px;
    margin-left: 100px;
}

.personalizime-dec h2 {
    font-size: 45px;
    font-family: cursive, sans-serif;
    border-bottom: 2px solid rgb(22, 9, 9);
    color: rgba(29, 31, 53, 0.733);
}

.personalizime-dec p {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.856);
}

.personalizime-img img {
    height: 350px;
    padding: 35px 15px;
}

.katering-img h2 {
    font-size: 45px;
    font-family: cursive, sans-serif;
    border-bottom: 2px solid rgb(22, 9, 9);
    color: rgba(29, 31, 53, 0.733);
}

.katering-dec p {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.856);
    padding: 65px 20px;
}

.katering-img img {
    height: 370px;
    padding: 10px 35px;
}

.room h2 {
    font-size: 45px;
    font-family: 'Piedra', sans-serif;
    text-align: center;
    border-bottom: 2px solid gainsboro;
    color: #414082;
}

.room p {
    text-align: center;
    font-family: 'Courier New', Courier;
    font-size: 25px;
    padding-top: 20px;
}

.rom-dec p {
    text-align: center;
    font-family: 'Courier New', Courier;
    font-size: 25px;
    padding-top: 115px;
}

.rom-img {
    padding: 25px;
}

.rom-img h3 {
    color: #414082;
    border-bottom: 2px solid gainsboro;
    font-family: cursive;
    font-size: 30px;
    margin-left: 15px;
}

.rom-img img {
    height: 350px;
    padding: 15px;
}

.r-luks-img img {
    height: 350px;
    padding: 15px 30px;
}

.r-luks-dec h2 {
    color: #414082;
    border-bottom: 2px solid gainsboro;
    font-family: cursive;
    font-size: 30px;
    margin-left: 15px;
}

.suita-img h3 {
    color: #414082;
    border-bottom: 2px solid gainsboro;
    font-family: cursive;
    font-size: 30px;
    margin-left: 15px;
}

.suita-img img {
    height: 350px;
    padding: 15px 30px;
}

.suita-dec p {
    text-align: center;
    font-family: 'Courier New', Courier;
    font-size: 25px;
    padding-top: 115px;
}

.col-lg-4 h3 {
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    color: black;
}

.col-lg-4 p {
    font-size: 20px;
    color: rgba(14, 26, 59, 0.644);
}

.Food {
    padding-top: 40px;
}

.Food h3 {
    color: #414082;
    border-bottom: 2px solid gainsboro;
    font-family: cursive;
    font-size: 30px;
    margin-left: 15px;
}

.restoranti-dec h3 {
    color: #414082;
    border-bottom: 2px solid gainsboro;
    font-family: cursive;
    font-size: 30px;
    margin-left: 15px;
}

.restoranti-dec p {
    text-align: center;
    font-family: 'Courier New', Courier;
    font-size: 20px;
    padding-top: 15px;
}

.restoranti-img img {
    height: 360px;
    padding: 15px 15px;
    margin-top: 40px;
}

.piceria-img h3 {
    color: #414082;
    border-bottom: 2px solid gainsboro;
    font-family: cursive;
    font-size: 30px;
    margin-left: 15px;
}

.piceria-img img {
    height: 360px;
    padding: 15px 15px;
    margin-top: 20px;
}

.piceria-dec p {
    text-align: center;
    font-family: 'Courier New', Courier;
    font-size: 20px;
    padding-top: 100px;
    margin-top: 80px;
}

.bar-dec h3 {
    color: #414082;
    border-bottom: 2px solid gainsboro;
    font-family: cursive;
    font-size: 30px;
    margin-left: 15px;
}

.bar-dec p {
    text-align: center;
    font-family: 'Courier New', Courier;
    font-size: 20px;
    padding-top: 30px;
}

.bar-img img {
    height: 380px;
    padding: 15px 25px;
    margin-top: 20px;
}


/*footer*/

.footer {
    background: black;
    color: #d3d3d3;
    height: 70px;
    top: 90px;
}

.map {
    margin-bottom: -6px;
}

.footer-copy {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    top: 20px;
}

.footer-copy i {
    color: whitesmoke;
    padding: 10px 5px;
    font-size: 25px;
}


/*footer end*/